.album-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

.album-cards {
  margin: 0 2vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.album-cards:hover {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-card {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 1vh 1vw;
}
.album-cover {
  width: 25vw;
  height: 40vh;
}

.album-name,
.album-artist {
  font-family: "Titillium Web", sans-sherif;
  margin-top: 1vh;
  font-size: 36px;
}
