@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.signin-form {
  background-color: #2b2b2b;
  width: 50%;
  padding: 30px 60px;
  margin: auto;
  margin-bottom: 160px;
  margin-top: 100px;
  border-radius: 4px;
  box-shadow: -2px 4px 6px;
}

.signin-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.signin-form input {
  box-sizing: border-box;
  /* margin: 30px; */
  height: 45px;
  width: 85%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.signin-form button {
  background-color: #f47126;
  color: white;
  height: 55px;
  width: 125px;
  margin: 40px 0 25px 0;
  border: none;
  font-size: 22px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

#signin-email-input {
  margin-bottom: 25px;
}

#signin-password-input {
  margin-top: 25px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .signin-form {
    width: 70%;
    padding: 30px 0;
  }
  .signin-form input {
    width: 80%;
  }
}
