@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body { 
  background-color: #EFE0CA;
}
.layout-children {
  display: flex;
  flex-direction: column;
}

/* header section styling  */

.home-header {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 100vw;
  background-color: #575151;
  padding: 0 20px 20px 20px;
}

.home-header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 40px 30px;
  margin: 50px;
  font-family: "Roboto", sans-serif;
  
}

.home-header h2 {
  color: #EFE0CA;
  font-size: 50px;
  margin-bottom: 100px;
}

.home-header button {
  background-color: #F47126;
  padding: 12px;
  height: 95px;
  width: 200px;
  font-size: 25px;
  font-weight: 500;
  border: none;
}

.home-header img  {
  width: 840px;
  margin: 10px 120px 20px 20px;
}

/* secondary section styling */

.home-secondary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
}

.home-secondary-card {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 65vw;
  margin: 65px 0;
  background-color: #575151;
  color: #EFE0CA;
}

.secondary-image-container img {
  width: 480px;
}


.home-secondary-card p {
  padding: 40px;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

}